h1 {
    border: 2px #eee solid;
    color: red;
    text-align: center;
    padding: 10px;
}
header {
    background: #1E2832 url("mastertfm.png") fixed;
    color: rgba(255, 255, 255, 0.75);
    padding: 2em 0 1em 0;
    text-align: center;
}
